<html>
    <head>
        <title>Abhishek</title>
        <style type="text/css">
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Here's a list of places i have worked:</h1>
	<ul>
	<li><a href="{{ url_for('org_name', org_initials='hcl') }}">Hindustan Computers Limited</a></li> 
	<li><a href="{{ url_for('org_name', org_initials='tcs') }}">Tata Consultancy Services</a></li>
	<li><a href="{{ url_for('org_name', org_initials='uhg') }}">United Health Group</a></li>  
	<p>*************************</p> 
	<li> <a href="/contactus"> Contact Us </a> </li>
	</ul>
    </body>
</html>