<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
	div {
	border-style: solid;
		}
      <center>
        <h2>Login</h2>
      </center>
    </div>
	<div class=container"><br>
    <div class="row align-items-center justify-content-center" >
    <div class="col-md-4">
      <form  action="" method="post" role="form">
		<label for="name">Username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
           
			<label for="password">Password:</label>
	  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	  <br>
	  <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
	</div>
      </form>
      <br>
	      </div>
    <br>
    </div>
    </div>
  </body>
</html>